DATABASE_URL="postgresql://neondb_owner:npg_BuZjCW3Sl8Ix@ep-gentle-rice-amvyro2x-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_DIALECT=postgres
DB_SSL=true
PORT=5000
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
